<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	  $("#createemp").validate({
    	    messages: {
    	      fname: {
    	        required: "Please enter a first name"
    	      },
    	      lname: {
    	        required: "Please enter a last name"
    	      },
    	      email: {
    	        required: "Please enter a valid email address"
    	      },
    	      phone: {
    	        required: "Please enter a valid phone number"
    	      },
    	      hiredate: {
    	        required: "Please enter a valid hire date"
    	      },
    	      jobtitle: {
    	        required: "Please enter your job_title"
    	      },
    	      salary: {
    	        required: "Please enter your salary"
    	      },
    	      managerid: {
    	        required: "Please enter your manager_id"
    	      }
    	    },
    	    rules: {
    	      fname: "required",
    	      lname: "required",

    	      email: { // compound rule
    	        required: true,
    	        email: true,
    	      },

    	      phone: {
    	      required: true,
    	        pattern: "^[0-9-+s()]*$",
    	      },
    	      jobtitle: "required",
    	      hiredate: "required",
    	      salary: "required",
    	      managerid: "required",
    	    },

    	  });



    	  $('#button').click(function() {
    	    $("#createemp").valid();

    	  });
    	});
</script>
</head>
<body>
    <div class="container">
        <h1>Employee Management System</h1>
        <hr>
             <h2 th:text="${message}">Create Employee</h2>
             <hr>



        <form action="#" id="createemp" th:action="@{/employee}" th:object="${employee}"
            method="POST">
            <input id="fname" type="text" th:field="*{fname}" placeholder="First Name" class="form-control mb-4 col-4" required> 
            <input id="lname" type="text" th:field="*{lname}" placeholder="Last Name" class="form-control mb-4 col-4" required>
            <input id="email" type="text" th:field="*{emailid}" placeholder="Email" class="form-control mb-4 col-4" required>
            <input id="phone" type="text" th:field="*{phoneno}" placeholder="Phone" class="form-control mb-4 col-4" required>
            <input id="date"type="date" th:field="*{hiredate}" placeholder="Hire Date" class="form-control mb-4 col-4" required>
            <input id="jobtitle" type="text" th:field="*{jobtitle}" placeholder="Job Title" class="form-control mb-4 col-4" required>
            <input id="salary" type="text" th:field="*{salary}" placeholder="Salary" class="form-control mb-4 col-4" required>
            <input id="managerid" type="text" th:field="*{managerid}" placeholder="Manager Id" class="form-control mb-4 col-4" required>

            <button type="submit" class="btn btn-info col-2" id="button">Create new Employee</button>
        </form>
        <hr>

        <a th:href="@{/employees}"> Back to Employee List</a>
        <br> 
        <a th:href="@{/deleteemployee}"> Back to delete Employee form</a>
    </div>
</body>
</html>